    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75vh;
    }

    .container{
      width: 1000px;
      height: 280px;
      background: #111827;
      padding: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 80px 80px 40px;
      gap: 8px;
    }

    .item{
      border-radius: 2px;
    }

    .topo{
      background: #f4a261;
      grid-column: 1 / 4;
    }

    .esquerda{
      background: #00b386;
      grid-row: 2 / 4;
    }

    .direita-topo{
      background: #43d3b4;
      grid-column: 2 / 4;
    }

    .meio{
      background: #ff6666;
    }

    .direita{
      background: #f4a261;
    }

    .rodape{
      background: #9b6258;
      grid-column: 1 / 4;
    }